@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: poppins;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #010101;
}

#sudo-home {
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 3%,
    rgba(255, 255, 255, 0) 25%
  );
}

#myModal {
  animation: modal 0.5s;
}

@keyframes modal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
